@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /*VERDE BOSQUE*/
  --verde-principal: hsl(123, 46%, 34%);
  --verde-principal-20: hsla(123, 46%, 34%, 0.2);
  --verde-principal-40: hsla(123, 46%, 34%, 0.24);
  --verde-principal-60: hsla(123, 46%, 34%, 0.6);
  --verde-principal-80: hsla(123, 46%, 34%, 0.8);

  /*PARA BORDES Y SEPARADORES*/
  --beige-oscuro: hsl(43, 38%, 73%);
  --beige-oscuro-20: hsla(43, 38%, 73%, 0.2);
  --beige-oscuro-40: hsla(43, 38%, 73%, 0.4);
  --beige-oscuro-60: hsla(43, 38%, 73%, 0.6);
  --beige-oscuro-80: hsla(43, 38%, 73%, 0.8);

  /*PARA FONDOS ALTERNATIVOS*/
  --crema: hsl(48, 100%, 93%);
  --crema-20: hsla(48, 100%, 93%, 0.2);
  --crema-40: hsla(48, 100%, 93%, 0.24);
  --crema-60: hsla(48, 100%, 93%, 0.6);
  --crema-80: hsla(48, 100%, 93%, 0.8);

  /* COLORES DE APOYO */
  --blanco: hsl(0, 0%, 100%);
  --blanco-20: hsla(0, 0%, 100%, 0.2);
  --blanco-40: hsla(0, 0%, 100%, 0.24);
  --blanco-60: hsla(0, 0%, 100%, 0.6);
  --blanco-80: hsla(0, 0%, 100%, 0.8);

  /*PARA FONDOS NEUTROS*/
  --gris-suave: hsl(0, 0%, 94%);
  --gris-suave-20: hsla(0, 0%, 94%, 0.2);
  --gris-suave-40: hsla(0, 0%, 94%, 0.24);
  --gris-suave-60: hsla(0, 0%, 94%, 0.6);
  --gris-suave-80: hsla(0, 0%, 94%, 0.8);

  /* Azul Claro: Evoca agua limpia y fresca, perfecto para fondos o secciones principales.*/
  --azul-claro: hsl(199, 91%, 64%);
  --azul-claro-20: hsla(199, 91%, 64%, 0.2);
  --azul-claro-40: hsla(199, 91%, 64%, 0.4);
  --azul-claro-60: hsla(199, 91%, 64%, 0.6);
  --azul-claro-80: hsla(199, 91%, 64%, 0.8);

  /* Azul turquesa: Da sensación de pureza y vitalidad, ideal para destacar botones o enlaces.*/
  --azul-turquesa: hsl(187, 100%, 38%);
  --azul-turquesa-20: hsla(187, 100%, 38%, 0.2);
  --azul-turquesa-40: hsla(187, 100%, 38%, 0.4);
  --azul-turquesa-60: hsla(187, 100%, 38%, 0.6);
  --azul-turquesa-80: hsla(187, 100%, 38%, 0.8);

  /* Azul profundo: Transmite confianza y seriedad, útil para encabezados o el logo institucional.*/
  --azul-profundo: hsl(212, 80%, 42%);
  --azul-profundo-20: hsla(212, 80%, 42%, 0.2);
  --azul-profundo-40: hsla(212, 80%, 42%, 0.4);
  --azul-profundo-60: hsla(212, 80%, 42%, 0.6);
  --azul-profundo-80: hsla(212, 80%, 42%, 0.8);

  /* Azul verdoso: Combina la idea de agua con naturaleza, muy apropiado si el acueducto quiere reflejar sostenibilidad.*/
  --azul-verdoso: hsl(174, 63%, 40%);
  --azul-verdoso-20: hsla(174, 63%, 40%, 0.2);
  --azul-verdoso-40: hsla(174, 63%, 40%, 0.4);
  --azul-verdoso-60: hsla(174, 63%, 40%, 0.6);
  --azul-verdoso-80: hsla(174, 63%, 40%, 0.8);

  /* FUENTES PRINCIPALES */
  --fuente-titulo: "Inter", sans-serif;
  --fuente-parrafo: "SourceSans", sans-serif;

  /* ANCHOS PRINCIPALES */
  --ancho-fijo-central: clamp(300px, 100vh, 1000px);
  --ancho-fijo-menu: clamp(300px, 100vh, 400px);
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: "SourceSans";
  src: url("/fonts/SourceSansPro/SourceSans3-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

h1,
h2,
h3 {
  font-family: var(--fuente-titulo);
}

p {
  font-family: var(--fuente-parrafo);
}
