@import "tailwindcss";

:root {
  /*VERDE BOSQUE*/
  --verde-principal: hsl(123, 46%, 34%);
  --verde-principal-20: hsla(123, 46%, 34%, 0.20);
  --verde-principal-40: hsla(123, 46%, 34%, 0.24);
  --verde-principal-60: hsla(123, 46%, 34%, 0.60);
  --verde-principal-80: hsla(123, 46%, 34%, 0.80);

  /*BEIGE CLÁSICO*/
  --beige-principal: hsl(60, 56%, 91%);
  --beige-principal-20: hsla(60, 56%, 91%, 0.20);
  --beige-principal-40: hsla(60, 56%, 91%, 0.24);
  --beige-principal-60: hsla(60, 56%, 91%, 0.60);
  --beige-principal-80: hsla(60, 56%, 91%, 0.80);

  /* COLORES COMPLEMENTARIOS */
  --verde-claro: hsl(122, 39%, 49%);
  --verde-claro-20: hsla(122, 39%, 49%, 0.20);
  --verde-claro-40: hsla(122, 39%, 49%, 0.40);
  --verde-claro-60: hsla(122, 39%, 49%, 0.60);
  --verde-claro-80: hsla(122, 39%, 49%, 0.80);

  /*PARA TEXTOS Y ELEMENTOS IMPORTANTES*/
  --verde-oscuro: hsl(124, 55%, 24%);
  --verde-oscuro-20: hsla(124, 55%, 24%, 0.20);
  --verde-oscuro-40: hsla(124, 55%, 24%, 0.40);
  --verde-oscuro-60: hsla(124, 55%, 24%, 0.60);
  --verde-oscuro-80: hsla(124, 55%, 24%, 0.80);

  /*PARA BORDES Y SEPARADORES*/
  --beige-oscuro: hsl(43, 38%, 73%);
  --beige-oscuro-20: hsla(43, 38%, 73%, 0.20);
  --beige-oscuro-40: hsla(43, 38%, 73%, 0.40);
  --beige-oscuro-60: hsla(43, 38%, 73%, 0.60);
  --beige-oscuro-80: hsla(43, 38%, 73%, 0.80);

  /*PARA FONDOS ALTERNATIVOS*/
  --crema: hsl(48, 100%, 93%);
  --crema-20: hsla(48, 100%, 93%, 0.20);
  --crema-40: hsla(48, 100%, 93%, 0.24);
  --crema-60: hsla(48, 100%, 93%, 0.60);
  --crema-80: hsla(48, 100%, 93%, 0.80);

  /* COLORES DE APOYO */
  --blanco: hsl(0, 0%, 100%);
  --blanco-20: hsla(0, 0%, 100%, 0.20);
  --blanco-40: hsla(0, 0%, 100%, 0.24);
  --blanco-60: hsla(0, 0%, 100%, 0.60);
  --blanco-80: hsla(0, 0%, 100%, 0.80);

  /*PARA FONDOS NEUTROS*/
  --gris-suave: hsl(0, 0%, 94%);
  --gris-suave-20: hsla(0, 0%, 94%, 0.20);
  --gris-suave-40: hsla(0, 0%, 94%, 0.24);
  --gris-suave-60: hsla(0, 0%, 94%, 0.60);
  --gris-suave-80: hsla(0, 0%, 94%, 0.80);

  /*PARA TEXTOS SECUNDARIOS*/
  --marron-suave: hsl(16, 18%, 47%);
  --marron-suave-20: hsla(16, 17%, 49%, 0.20);
  --marron-suave-40: hsla(16, 17%, 49%, 0.24);
  --marron-suave-60: hsla(16, 17%, 49%, 0.60);
  --marron-suave-80: hsla(16, 17%, 49%, 0.80);

  /* FUENTES PRINCIPALES */
  --fuente-titulo: "Inter", sans-serif;
  --fuente-parrafo: "SourceSans", sans-serif;

  /* ANCHOS PRINCIPALES */
  --ancho-fijo-central: clamp(300px, 100vh, 1000px);
  --ancho-fijo-menu: clamp(300px, 100vh, 400px);
}
}


@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

@font-face {
  font-family: "SourceSans";
  src: url("/fonts/SourceSansPro/SourceSans3-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

h1,
h2,
h3 {
  font-family: var(--fuente-titulo);
}

p {
  font-family: var(--fuente-parrafo);
}
